/** ResourceLoaderSkinModule: normalize,elements,content-tables,content-links,content-media,interface-message-box,interface-category,toc */
@media print {
    @import './print.less';
}

html {
    margin: 0;
}

body {
    background: @background-color-base;
    max-width: 100%;
    margin: 0 auto;
    font-family: @font-family;
    line-height: 1.5;
}

main {
    padding: 1em;

    & ~ nav,
    & ~ footer {
        padding: 1em;
    }
}

@media screen {
    html {
        background: @background-color-base;
    }

    body {
        color: @color-base;
        margin: 0 auto;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        font-size: 17px;
    }

    #nightingale-page-container {
        width: 100%;
        max-width: 84%;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        padding: 0rem 0rem 0rem 10rem;
        box-sizing: border-box;

        /* MOBILE OVERRIDE */
        @media (max-width: @max-width-breakpoint-tablet) {
            max-width: 100%;
            padding: 0;
        }
    }

    h1, h2, h3, h4, h5, h6 {
        font-weight: normal;
        color: @color-base;
        font-family: 'Linux Libertine', 'Times New Roman', 'Liberation Serif', 'Nimbus Roman', 'Noto Serif', 'Times', serif;
    }

    a {
        color: @color-link;

        &:visited {
            color: @color-link--visited;
        }

        &.new,
        &.new:visited {
            color: @color-link-new;
        }
    }

    p {
        margin: 0 0 1rem;
    }

    main {
        background: @background-color-article;
        padding: 1.5em 3em; /* Adjusted padding for better fixed-width look */
        
        /* MOBILE OVERRIDE */
        @media (max-width: @max-width-breakpoint-tablet) {
            padding: 1em;
        }
    }

    #sitenotice {
        margin-bottom: 10px;
    }
}
