@import 'mediawiki.skin.variables.less';

/* DESKTOP HEADER LAYOUT */
.mw-header {
    background-color: @background-color-header;
    width: 100%;
    padding: 0 20px;
    margin-bottom: 15px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    min-height: 3.125em;
    box-shadow: 0 4px 6px -2px @shadow-color;

    .nightingale-text-menus {
        order: 1; 
        display: flex; 
        gap: 15px;
        margin-left: 15px;
        margin-right: 15px;
    }

    #p-sitename a {
        color: @color-header-text;
        text-decoration: none;
    }

    #p-search {
        order: 2;
    }

    .nightingale-icon-menus {
        order: 3;
    }

    .nightingale-header-tools {
        display: contents;
    }

    /* MOBILE HEADER LAYOUT */
    @media ( max-width: @max-width-breakpoint-tablet ) {
        padding: 10px;
        flex-wrap: wrap; 

        #p-logo {
            display: none;
        }

        #p-sitename {
            display: block;
        }

        #p-search {
            flex-grow: 1;
            padding: 0;
            order: unset; 
        }

        .nightingale-header-tools {
            display: flex; 
            width: 100%;
            margin-top: 10px;
            justify-content: space-between;
            align-items: center;
            order: unset; 
        }
        
        .nightingale-text-menus,
        .nightingale-icon-menus {
            order: unset;
        }
    }
}

.dropdown-toggle::after {
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
}

/* RIGHT GROUP Mobile and Desktop: Icons */
.nightingale-menu-wrapper {
    display: flex;
    align-items: center;
}
.nightingale-icon-menus {
    display: flex;
    align-items: center;
}
.mw-echo-ui-overlay {
    z-index: 15;
}

/* --- STANDARD ICON STYLES (Edit, Talk, etc) --- */
.nightingale-edit-button,
.nightingale-talk-button,
.mw-checkbox-hack-button {
    display: inline-block;
    width: 20px;
    height: 20px;
    font-size: 0;
    color: transparent;
    position: relative;
    vertical-align: middle;     
    background-color: @color-icon-base;
    margin: 0px 4px;
    cursor: pointer;

    /* Mask settings */
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-size: contain;
    mask-size: contain;

    &:hover {
        background-color: @color-icon-base-hover;
    }
}

.nightingale-edit-button a,
.nightingale-talk-button a {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* --- DROPDOWN STYLING (GLOBAL - DESKTOP & MOBILE) --- */
.nightingale-mobile-dropdown .mw-checkbox-hack-button {
    width: auto;
    height: auto;
    padding: 0;
    background: transparent;
    color: @color-header-text;
    font-size: 16px;
    text-indent: 0;
    -webkit-mask-image: none;
    mask-image: none;
    cursor: pointer;
    padding-right: 0.5rem;

    &:hover {
        color: @color-link;
        background: transparent;
    }
}
#pt-anonuserpage {
    display: none;
}

/* DROPDOWN MECHANISM */
.nightingale-mobile-dropdown {
    position: relative;

    input {
        display: none;
    }

    .mw-portlet-body {
        display: none;
        position: absolute;
        left: 0;
        top: 100%;
        z-index: 100;
        background: @background-color-dropdown;
        border: 1px solid @border-color-dropdown;
        box-shadow: 0 2px 5px @shadow-color-dropdown;
        min-width: 230px;
        padding: 5px 0;
        margin-top: 5px;
    }

    input:checked ~ .mw-portlet-body {
        display: block;
    }

    /* LIST STYLING */
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    
    li {
        display: block;
        margin: 0;
        padding: 0px 0px 0px 20px;

        a {
            display: block;
            padding: 6px 15px;
            color: @color-dropdown-text;
            text-decoration: none;

            &:hover {
                background-color: @background-color-dropdown-hover;
                text-decoration: none;
            }
        }
    }
}

/* UTILITY */
.nightingale-mobile-only {
    display: none !important;

    @media ( max-width: @max-width-breakpoint-tablet ) {
        display: block !important;
    }
}
