<div role="navigation" id="p-hybrid-actions" class="mw-portlet" aria-labelledby="p-hybrid-actions-label">
    <h3 id="p-hybrid-actions-label">More</h3>
    <div class="mw-portlet-body">
        <ul>
            {{! 1. Render remaining items from data-views. }}
            {{#data-portlets.data-views.array-items}}
                {{! Loop through the links within each list item. }}
                {{#array-links}}
                    {{! For the 'talk' link, only render the li if the page is new. }}
                    {{#is-ca-talk}}
                        {{#is-new}}
                            <li id="{{id}}" class="{{class}}"><a {{#array-attributes}}{{key}}="{{value}}"{{/array-attributes}}>{{text}}</a></li>
                        {{/is-new}}
                    {{/is-ca-talk}}

                    {{! For all other links, render the li unless it's 'talk' or 'edit'. }}
                    {{^is-ca-talk}}{{^is-ca-edit}}
                        <li id="{{id}}" class="{{class}}"><a {{#array-attributes}}{{key}}="{{value}}"{{/array-attributes}}>{{text}}</a></li>
                    {{/is-ca-edit}}{{/is-ca-talk}}
                {{/array-links}}
            {{/data-portlets.data-views.array-items}}

            {{! 2. Render all items from data-actions. }}
            {{#data-portlets.data-actions.array-items}}
                <li id="{{id}}" class="{{class}}">
                    {{#array-links}}<a {{#array-attributes}}{{key}}="{{value}}"{{/array-attributes}}>{{text}}</a>{{/array-links}}
                </li>
            {{/data-portlets.data-actions.array-items}}
        </ul>
    </div>
</div>
