<main id="content" class="mw-body">
	<header class="content__header">
		{{>ContentIndicators}}
		{{>ContentHeading}}
		{{>ContentNamespaces}}
	</header>
	{{>ContentBody}}
	{{#data-toc}}{{>TableOfContents}}{{/data-toc}}
</main>
