{{#ridvan-content-talk}}
<div class="ridvan-talk-button" id="{{id}}">
    {{#array-links}}
        <a {{#array-attributes}}{{key}}="{{value}}"{{/array-attributes}} class="ridvan-btn-secondary">
            {{text}}
        </a>
    {{/array-links}}
</div>
{{/ridvan-content-talk}}
