{{! Iterate through all list items in the 'views' portlet. }}
{{#data-portlets.data-views.array-items}}
    {{! Within each item, loop through its links. }}
    {{#array-links}}
        {{! Check for the 'edit' flag on the link object itself. }}
        {{#is-ca-edit}}
            <a class="header-button header-button--edit" {{#array-attributes}}{{key}}="{{value}}"{{/array-attributes}}>{{text}}</a>
        {{/is-ca-edit}}
    {{/array-links}}
{{/data-portlets.data-views.array-items}}
