<div id="sticky-page-tracker">
    <div id="sticky-left" class="opage"></div>
    <div id="sticky-right" class="otright"></div>
</div>

<main id="content" class="mw-body">
    <header class="content__header">
        {{>ContentIndicators}}
        {{^is-mainpage}}
            {{{html-title-heading}}}
        {{/is-mainpage}}
    </header>
    <div id="bodyContent" class="mw-body-content">
        {{>ContentBody}}
        {{#data-toc}}{{>TableOfContents}}{{/data-toc}}
    </div>
</main>
