{{#ridvan-content-edit}}
<div class="ridvan-edit-button" id="{{id}}">
    {{#array-links}}
        <a {{#array-attributes}}{{key}}="{{value}}"{{/array-attributes}} class="ridvan-btn-primary">
            {{text}}
        </a>
    {{/array-links}}
</div>
{{/ridvan-content-edit}}
