{{#nightingale-content-talk}}
<div id="{{id}}" class="mw-portlet nightingale-talk-button">
    <div class="mw-portlet-body">
        {{#array-links}}
            <a {{#array-attributes}}{{key}}="{{value}}" {{/array-attributes}}>
                {{text}}
            </a>
        {{/array-links}}
    </div>
</div>
{{/nightingale-content-talk}}
