<header class="mw-header nightingale-header">
    {{>Logo}}
    {{>Sitename}}
    
    <nav class="nightingale-nav">
        {{#data-portlets-sidebar}}
            <div class="mw-portlet mw-portlet-dropdown">
                <input type="checkbox" id="cb-nav-{{id}}" class="mw-checkbox-hack-checkbox">
                <label for="cb-nav-{{id}}" class="mw-checkbox-hack-button">{{label}} ▾</label>
                <div class="mw-portlet-body">
                    <ul>
                        {{#array-items}}{{>ListItem}}{{/array-items}}
                    </ul>
                </div>
            </div>
        {{/data-portlets-sidebar}}
    </nav>

    {{>Search}}

    <div class="ridvan-header-tools">
        <div class="ridvan-icon-menus">
            {{>ContentEdit}}
            {{>ContentTalk}}
            {{>Notifications}}
            <div class="ridvan-menu-wrapper">
                {{>Dropdown}}{{>ContentHybrid}}
            </div>
            <div class="ridvan-menu-wrapper ridvan-personal-wrapper">
                {{>Dropdown}}{{>PersonalMenu}}
            </div>
        </div>
    </div>
</header>
