<header class="mw-header">
    {{>Logo}}
    {{>Sitename}}
    {{>Search}}

    <div class="nightingale-header-tools">

        <div class="nightingale-text-menus">
            
            {{#nightingale-sidebar-menus}}
            <div class="mw-portlet nightingale-mobile-dropdown" id="{{html-id}}">
                <input type="checkbox" id="cb-{{html-id}}" class="mw-checkbox-hack-checkbox">
                <label for="cb-{{html-id}}" class="mw-checkbox-hack-button">{{label}} ▾</label>
                <div class="mw-portlet-body">
                    <ul>{{#array-items}}{{>ListItem}}{{/array-items}}</ul>
                </div>
            </div>
            {{/nightingale-sidebar-menus}}

            <div class="mw-portlet nightingale-mobile-dropdown nightingale-mobile-only">
                <input type="checkbox" id="cb-mob-tools" class="mw-checkbox-hack-checkbox">
                <label for="cb-mob-tools" class="mw-checkbox-hack-button">{{nightingale-mobile-tools-label}} ▾</label>
                <div class="mw-portlet-body">
                    <ul>{{#nightingale-mobile-tools}}{{>ListItem}}{{/nightingale-mobile-tools}}</ul>
                </div>
            </div>

            {{#nightingale-has-mobile-links}}
            <div class="mw-portlet nightingale-mobile-dropdown nightingale-mobile-only">
                <input type="checkbox" id="cb-mob-links" class="mw-checkbox-hack-checkbox">
                <label for="cb-mob-links" class="mw-checkbox-hack-button">{{nightingale-mobile-links-label}} ▾</label>
                <div class="mw-portlet-body">
                    <ul>{{#nightingale-mobile-links}}{{>ListItem}}{{/nightingale-mobile-links}}</ul>
                </div>
            </div>
            {{/nightingale-has-mobile-links}}
            
        </div>

        <div class="nightingale-icon-menus">
            {{>ContentEdit}}
            {{>ContentTalk}}
            {{>Notifications}}
            <div class="nightingale-menu-wrapper">
                {{>Dropdown}}{{>ContentHybrid}}
            </div>
            <div class="nightingale-menu-wrapper nightingale-personal-wrapper">
                {{>Dropdown}}{{>PersonalMenu}}
            </div>
        </div>
    </div>
</header>
