<li class="czsearch-typeahead-list-item">
	<a
		href="{{href}}"
		class="czsearch-typeahead-list-item-link"
		id="czsearch-typeahead-item-{{type}}-{{id}}"
	>
		{{#icon}}<div class="czsearch-typeahead-list-item-icon czsearch-ui-icon mw-ui-icon-wikimedia-{{.}}"></div>{{/icon}}
		{{#image}}
		<div
			class="czsearch-typeahead-list-item-image{{#image.class}} {{.}}{{/image.class}}"
			{{#image.url}}style="background-image: url({{.}});"{{/image.url}}
		>
		</div>
		{{/image}}
		<div class="czsearch-typeahead-list-item-text">
			{{#text}}{{.}}{{/text}}
			{{#title}}<div class="czsearch-typeahead-list-item-title">{{{.}}}</div>{{/title}}
			{{#description}}<div class="czsearch-typeahead-list-item-description">{{.}}</div>{{/description}}
		</div>
		{{#html-end}}<div class="czsearch-typeahead-list-item-end">{{{.}}}</div>{{/html-end}}
	</a>
</li>
